.pane {
  position: fixed;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 48px;
  height: calc(100vh - 40px);
  background: var(--palette-background-color);
  border: solid 1px var(--palette-border-color);
  border-radius: 2px;
}
